.header{
    position: relative;
    z-index: 1000;
    min-height: 100px;
    &__nav{
        position: fixed;
        width: 1440px;
        height: 100px;
        background-color: #fff;
        ul{
            list-style-type: none;
            margin: 35px 0 0px 448px;
            padding: 0;
            li{
                display: inline;
                margin-right: 78px;
                a{
                    text-decoration: none;
                    color: #000;
                    text-transform: uppercase;
                    font-family: 'Righteous';
                    font-weight: 400;
                    font-size: 20px;
                }
            }
        }
        &::before{
            content: '';
            position: absolute;
            width: 100vh;
            height: inherit;
            background-color: white;
            top: 0;
            left: -100vh;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100vh;
            height: inherit;
            background-color: white;
            top: 0;
            right: -100vh;
        }
    }
    &__logo{
        position: absolute;
        top: 13px;
        left: 30px;
    }
    &__bucket{
        position: absolute;
        top: 35px;
        right: 78px;
    }
    
}