@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf');
    font-style: normal;
}
.header{
    position: relative;
    min-height: 100px;
    &__nav{
        position: fixed;
        width: 1440px;
        height: 100px;
        background-color: #0E4C49;
        ul{
            list-style-type: none;
            margin: 35px 0 0px 448px;
            padding: 0;
            li{
                display: inline;
                margin-right: 78px;
                a{
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                    font-family: 'Righteous';
                    font-weight: 400;
                    font-size: 20px;
                }
            }
        }
    }
    &__logo{
        position: absolute;
        top: 13px;
        left: 30px;
    }
    &__bucket{
        position: absolute;
        top: 35px;
        right: 78px;
    }
}